<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>${{price}}</td>
          <td>{{category}}</td>
          <td>{{stock}} quantitys</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>